
.purple { background: #D90AFE; }
.orange { background: #FE890A; }
.green  { background: #46E000; }
.red    { background: #CE0000; }
.grey   { background: #BDBDBD; }
.sky    { background: #64E2FF; }
.yellow { background: #FFD900; }
.poupre { background: #F500C0; }

.menu ul {
  list-style: none;
}
  .menu ul li {
    clear             : both;
    position          : relative;
    padding           : 0 12px;
   /* min-width         : 150px;*/
    text-align        : left;
    font-size         : 12px;
    line-height       : 26px;
    color             : #A2A2A2;
    -webkit-transition: line-height 0.3s;
  }
  .menu ul li.hover,
  .menu ul li:hover,
  .menu ul li.select,
  .menu ul li:hover li:hover,
  .menu ul li.hover li:hover,
  .menu ul li.hover li.hover{
    background-image: -webkit-linear-gradient(bottom, rgba(0, 144, 240, 0.78), rgba(39, 169, 255, 0.91));
    color: #fff;
  }
  .menu ul li:hover li,
  .menu ul li.hover li{
    color: #797979;
  }
  .menu ul li.hidden{
    line-height: 1px;
    background: rgba(0,0,0,0.07);
    color: transparent;
    margin:0;
  }
    .menu ul li.hidden .disclosure{
      display: none;
    }


#menu-hub {
  position: absolute;
  width   : 50px;
  height  : 50px;
}
  #menu-hub .button:hover,
  #menu-hub.visible .button {
    top: 0;
    -webkit-transform: scale(1);
  }
  #menu-hub .button {
    position        : absolute;
    top             : 24px;
    width           : 50px;
    height          : 50px;
    border-radius   : 25px;
    background-image: -webkit-radial-gradient(center,rgba(255,255,255,0.6) 0,rgba(255,255,255,0.85) 80%);
    box-shadow      : 0 1px 8px rgba(0,0,0,0.3);
    -webkit-transition: all 0.1s;
    -webkit-transform : scale(0.6);
  }
    #menu-hub .button .inner-shadow {
     width           : 100%;
     height          : 100%;
     border-radius   : 25px;
     box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    }
    #menu-hub .button .icon {
      position: absolute;
      top     : 12px;
      left    : 12px;
      width   : 22px;
      height  : 22px;
    }
    #menu-hub .checkbox {
      display      : inline-block;
      overflow     : hidden;
      position     : relative;
      top          : 2px;
      width        : 10px;
      height       : 10px;
      margin       : 0 6px 0 0;
      border       : 1px solid rgba(0, 0, 0,0.2);
      border-radius: 3px;
      box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.2);
    }
    #menu-hub .checkbox .inner-shadow {
      display: block;
      width: 100%;
      height: 100%;
      background-image: -webkit-linear-gradient(bottom,rgb(230,230,230) 50%,rgb(240,240,240) 51%, rgb(250,250,255) 100%);
      border-radius: 3px;
    }
    /* Menu Options */
    
    #menu-hub ul.menu {
      z-index         : 1;
      position        : absolute;
      list-style      : none;
      background-image: -webkit-radial-gradient(center,rgba(255,255,255,0.0) 20%,rgba(255,255,255,0.8) 61%);
      box-shadow      : inset 0 0 8px rgba(0,0,0,0.3);
    }
    #menu-hub ul.menu > li {
      position          : absolute;
      padding           : 0 10px;
      min-width         : 50px;
      border-radius     : 15px;
      text-align        : center;
      font-size         : 12px;
      line-height       : 28px;
      color             : #797979;
      background-image  : -webkit-linear-gradient(bottom,rgba(220,220,220,0.7) 0,rgba(245,245,245,0.85) 80%);
      box-shadow        : inset 0 0 8px rgba(0,0,0,0.25) ,0 1px 3px rgba(0,0,0,0.1);
    }

    #menu-hub ul.menu.first {
      display      : none;
      z-index      : 2;
      position     : absolute;
      top          : -51px;
      left         : -51px;
      width        : 155px;
      height       : 155px;
      border-radius: 85px;
      list-style   : none;
    }
    #menu-hub.visible ul.menu.first {
      display: block;
    }
      #menu-hub.visible ul.menu.first > li:hover {
        background-image  : -webkit-linear-gradient(bottom,rgba(230,230,230,0.7) 0,rgba(255,255,255,0.85) 80%);
        box-shadow        : inset 0 0 6px rgba(0,0,0,0.4);
        -webkit-transition: all 0.2s;
      }
      #menu-hub ul.menu.first > li.file {
        top : -9px;
        left: 42px;
      }
      #menu-hub ul.menu.first > li.edit {
        top: 26px;
        left: 93px;
      }
      #menu-hub ul.menu.first > li.object {
        top: 63px;
        left: 108px;
      }
      #menu-hub ul.menu.first > li.type {
        top: 99px;
        left: 93px;
      }
      #menu-hub ul.menu.first > li.select {
        top: 134px;
        left: 42px;
      }
      #menu-hub ul.menu.first > li.effect {
        top: 99px;
        left: -9px;
      }
      #menu-hub ul.menu.first > li.view {
        top: 63px;
        left: -26px;
      }
      #menu-hub ul.menu.first > li.window {
        top: 26px;
        left: -9px;
      }
        /* Sub Menu */
        #menu-hub ul.menu.first > li ul {
          display            : none;
          z-index            : 10;
          position           : absolute;
          list-style         : none;
          background-image   : -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.93) );
          background-image   : linear-gradient(bottom, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.93) );
          box-shadow         : 0 1px 6px rgba(0, 0, 0, 0.4);
        }
        #menu-hub ul.menu.first > li ul.visible {
          display: block;
        }
        #menu-hub.right-handed ul.menu.first > li ul {
          padding: 0px 30px 0px 0px;
        }
        #menu-hub.left-handed ul.menu.first > li ul {
          padding: 0px 0px 0px 30px;
        }
        .menu-root-child {
          -webkit-transition:all 0.3s;
        }
          #file-menu {}
          #edit-menu { width: 170px; }
          #object-menu { width: 170px; }

        #menu-hub.right-handed ul.menu.first > li.file > ul { left: -140px; }
        #menu-hub.left-handed ul.menu.first > li.file > ul { right: -140px; }

        
        #menu-hub ul.menu > li ul li:first-child { margin: 3px 0 0 0; }
        #menu-hub ul.menu > li ul li:last-child { margin: 0 0 3px 0; }
        #menu-hub ul.menu > li ul li:only-child { margin: 3px 0 3px 0; }
        
        #menu-hub ul.menu > li ul li .marker {
          position: absolute;
          top     : 4px;
          width   : 2px;
          height  : 19px;
        }
        #menu-hub ul.menu > li ul li .marker { left: 2px; }
        #menu-hub .menu ul li.hidden .marker { display: none; }
        .disclosure,
        #menu-hub ul.menu > li ul li .disclosure {
          z-index            : 1;
          position           : absolute;
          top                : 8px;
          right              : 7px;
          width              : 10px;
          height             : 10px;
          opacity            : 0.5;
          background         : url('../img/ai_wheel.png') no-repeat;
          background-position: -189px -86px;
          -webkit-transition : all 0.2s;
        }
        #menu-hub ul.menu > li ul li:hover .disclosure { 
          opacity: 1;
        }
        #menu-hub ul.menu.first > li ul div.break {
          height    : 1px;
          margin    : 2px 0 3px;
          background-image: -webkit-linear-gradient(right,rgba(0,0,0,0.1) 82%,rgba(0,0,0,0.0) 100%);
        }

        #menu-hub ul.menu.first > li ul .mini-menu-container {
          position          : absolute;
          top               : 0;
          width             : 30px;
          -webkit-transition: all 0.2s;
        }
        #menu-hub.right-handed ul.menu.first > li ul .mini-menu-container {
          right: 0px;
        }
        #menu-hub.left-handed ul.menu.first > li ul .mini-menu-container {
          left: 0px;
        }
          #menu-hub ul.menu.first > li ul .mini-menu-container .miniMenu:first-child {
            margin-top: 12px;
          }
          #menu-hub ul.menu.first > li ul .mini-menu-container .miniMenu {
            width             : 5px;
            height            : 5px;
            margin            : 0 12px 4px 12px;
            border-radius     : 2px;
            overflow          : hidden;
            -webkit-transition: all 0.3s;
          }
          #menu-hub ul.menu.first > li ul .mini-menu-container:hover .miniMenu { width: 12px; }
          #menu-hub.left-handed ul.menu.first > li ul .mini-menu-container:hover .miniMenu {
            margin-left: 9px;
          }
          #menu-hub.right-handed ul.menu.first > li ul .mini-menu-container:hover .miniMenu {
            margin-right: 9px;
          }
          #menu-hub ul.menu.first > li ul .mini-menu-container .miniMenu.hidden {
            height: 0;
            margin: 0;
          }
          #menu-hub ul.menu.first > li ul .mini-menu-container .miniMenu .innerShadow {
            width           : 100%;
            height          : 100%;
            background-image: -webkit-linear-gradient(bottom, transparent 30%, rgba(0, 0, 0, 0.2));
            box-shadow      : inset 0 0 2px rgba(0, 0, 0, 0.3);
          }
        
        #menu-hub ul.menu.first > li ul .miniMenu:hover,
        #menu-hub ul.menu.first > li ul .miniMenu.hover {
          background-image: -webkit-linear-gradient(bottom,rgba(25,156,255,1),rgba(25,156,255,1));
        }
      /* Sub sub Menus */
        #menu-hub ul.menu > li ul li ul {
          float: left;
          display: block;
          width: 200px;
        }
        #menu-hub ul.menu > li ul li ul li {
        }
/* Configure Menu */
#configure-menu {
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.8),rgba(255,255,255,1));
  width: 180px;
  height: 120px;
  position: absolute;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  z-index: 3;
}
  #configure-menu p{
    color: #A2A2A2;
    font-size: 12px;
    float: left;
  }
  #configure-menu p{
    margin: 6px 10px;
  }
  #configure-menu li {
  }
  #configure-menu .color-container {
    float        : left;
    width        : 100%;
    margin       : 0 0 6px;
    padding      : 0 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* Color Box */
  #configure-menu #color-box {
    float : left;
    width : 100%;
    margin: 0 10px;
  }
    #configure-menu #color-box .container {
      float        : left;
      padding      : 3px;
      border       : 1px solid transparent;
      border-radius: 6px;
      margin: 0 2px 0 0;
    }
    #configure-menu #color-box .container:hover,
    #configure-menu #color-box .container.selected {
      border: 1px solid rgba(0, 0, 0, 0.3); 
    }
      #configure-menu #color-box .container .mark {
        float : left;
        width : 8px;
        height: 8px;
        border-radius: 4px;
        overflow: hidden;
      }
        #configure-menu #color-box .container .mark .inner-shadow {
          float           : left;
          width           : 100%;
          height          : 100%;
          background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.3));
          box-shadow      : inset 0 0 5px rgba(0, 0, 0, 0.5);
        }
  /* End Color Box */
#menu-quickpick {
  position: absolute;
  width: 495px;
  height: 490px;
  z-index: -1;
  top: 160px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
}
#menu-quickpick.active {
  top: 95px;
}
  #menu-quickpick .container {
    -webkit-transform: scale(0.6);
    -webkit-transition: all 0.3s;
    position: absolute;
  }
  #menu-quickpick.active .container {
    -webkit-transform: scale(1);
  }
  #menu-quickpick .left {
    left: 50px;
    width: 30%;
  }
  #menu-quickpick.active .left {
    left: 0px;
  }
  #menu-quickpick .right {
    right: 50px;
    width: 30%;
  }
  #menu-quickpick.active .right {
    right: 0;
  }
    #menu-quickpick .pick {
      position     : absolute;
      width        : 60px;
      height       : 30px;
      border-radius: 15px;
      box-shadow   : 0 1px 6px rgba(0, 0, 0, 0.3);
    }
    #menu-quickpick .pick.drag-into {
      background-image: -webkit-linear-gradient(bottom,rgba(115, 197, 243, 0.56),rgba(159, 230, 248, 0.56));
    }
    #menu-quickpick.active .pick { width: 120px; }
    #menu-quickpick .left .pick { left: 0; }
    #menu-quickpick .right .pick { right: 0; }
    #menu-quickpick .left .pick:nth-child(1) { left: -20px; }
    #menu-quickpick .left .pick:nth-child(2) { left: -46px; }
    #menu-quickpick .left .pick:nth-child(3) { left: -54px; }
    #menu-quickpick .left .pick:nth-child(4) { left: -57px; }
    #menu-quickpick .left .pick:nth-child(5) { left: -54px; }
    #menu-quickpick .left .pick:nth-child(6) { left: -48px; }
    #menu-quickpick .left .pick:nth-child(7) { left: -32px; }
    #menu-quickpick .left .pick:nth-child(8) { left: -11px; }
    #menu-quickpick.active .left .pick:nth-child(1) { left: -20px; }
    #menu-quickpick.active .left .pick:nth-child(2) { left: -46px; }
    #menu-quickpick.active .left .pick:nth-child(3) { left: -62px; }
    #menu-quickpick.active .left .pick:nth-child(4) { left: -69px; }
    #menu-quickpick.active .left .pick:nth-child(5) { left: -69px; }
    #menu-quickpick.active .left .pick:nth-child(6) { left: -59px; }
    #menu-quickpick.active .left .pick:nth-child(7) { left: -41px; }
    #menu-quickpick.active .left .pick:nth-child(8) { left: -11px; }
    #menu-quickpick .right .pick:nth-child(1) { right: -20px; }
    #menu-quickpick .right .pick:nth-child(2) { right: -46px; }
    #menu-quickpick .right .pick:nth-child(3) { right: -54px; }
    #menu-quickpick .right .pick:nth-child(4) { right: -57px; }
    #menu-quickpick .right .pick:nth-child(5) { right: -54px; }
    #menu-quickpick .right .pick:nth-child(6) { right: -48px; }
    #menu-quickpick .right .pick:nth-child(7) { right: -32px; }
    #menu-quickpick .right .pick:nth-child(8) { right: -11px; }
    #menu-quickpick.active .right .pick:nth-child(1) { right: -20px; }
    #menu-quickpick.active .right .pick:nth-child(2) { right: -46px; }
    #menu-quickpick.active .right .pick:nth-child(3) { right: -62px; }
    #menu-quickpick.active .right .pick:nth-child(4) { right: -69px; }
    #menu-quickpick.active .right .pick:nth-child(5) { right: -69px; }
    #menu-quickpick.active .right .pick:nth-child(6) { right: -59px; }
    #menu-quickpick.active .right .pick:nth-child(7) { right: -41px; }
    #menu-quickpick.active .right .pick:nth-child(8) { right: -11px; }
    #menu-quickpick .pick li {
      height          : 30px;
      border-radius   : 15px;
      font-size       : 12px;
      line-height     : 30px;
      list-style      : none;
      color           : #A2A2A2;
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
      text-align: center;
    }
    #menu-quickpick .pick.more li {
      text-align: left;
      text-indent: 10px;
      position: relative;
    }
    #menu-quickpick .pick li ul {
      display: none;
      width: 150px;
    }
    #menu-quickpick .pick li.hover ul,
    #menu-quickpick .pick li:hover ul {
      display: block;
      background: #fff;
      position: absolute;
      z-index: 1000;
      left: 50px;
      top: 20px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    }
      #menu-quickpick .pick li:hover ul li {
        border-radius: 0;
      }
    #menu-quickpick .pick .disclosure {
      right: 10px;
      top: 10px;
    }
/* Drag n Drop */
#drag-clone {
  position: absolute;
  height          : 30px;
  border-radius   : 15px;
  font-size       : 12px;
  line-height     : 30px;
  list-style      : none;
  color           : #A2A2A2;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
  z-index: 1000;
  box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  text-align: center;
}
#drag-clone ul {
  display: none;
}