
.purple { background: #D90AFE; }
.orange { background: #FE890A; }
.green  { background: #46E000; }
.red    { background: #CE0000; }
.grey   { background: #BDBDBD; }
.sky    { background: #64E2FF; }
.yellow { background: #FFD900; }
.poupre { background: #F500C0; }

.menu ul {
  list-style: none;
}
  .menu ul li {
    clear             : both;
    position          : relative;
    padding           : 0 7px;
    text-align        : left;
    font-size         : 12px;
    line-height       : 26px;
    color             : #A2A2A2;
    -webkit-transition: line-height 0.3s;
    border-radius: 0;
  }
  .menu-parent li.hover li{
    color: #797979;
  }
  .menu-parent li.hover,
  .menu-parent li:hover,
  .menu-parent li.select,
  .menu-parent li li.select,
  .menu-parent li.hover li.select,
  .menu-parent li:hover li.select,
  .menu-parent li:hover li:hover,
  .menu-parent li.hover li:hover,
  .menu-parent li.hover li.hover{
    background-image: -webkit-linear-gradient(bottom, rgba(0, 144, 240, 0.78), rgba(39, 169, 255, 0.91));
    color: #fff;
  }
  .menu-parent li.hidden{
    line-height: 1px;
    background: rgba(0,0,0,0.07);
    color: transparent;
    margin:0;
  }
    .menu-parent li.hidden .disclosure{
      display: none;
    }

#menu-hub {
  position: absolute;
  width   : 50px;
  height  : 50px;
}
  #menu-hub .button:hover,
  #menu-hub.visible .button {
    top: 0;
    -webkit-transform: scale(1);
  }
  #menu-hub .button {
    position        : absolute;
    top             : 24px;
    width           : 50px;
    height          : 50px;
    border-radius   : 25px;
    background-image: -webkit-radial-gradient(center,rgba(255,255,255,0.6) 0,rgba(255,255,255,0.85) 80%);
    box-shadow      : 0 1px 8px rgba(0,0,0,0.3);
    -webkit-transition: all 0.1s;
    -webkit-transform : scale(0.6);
  }
    #menu-hub .button .inner-shadow {
     width           : 100%;
     height          : 100%;
     border-radius   : 25px;
     box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    }
    #menu-hub .button .icon {
      position: absolute;
      top     : 12px;
      left    : 12px;
      width   : 22px;
      height  : 22px;
    }
    #menu-hub .checkbox {
      display      : inline-block;
      position     : relative;
      top          : 2px;
      width        : 10px;
      height       : 10px;
      margin       : 0 8px 0 0;
      border       : 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
      #menu-hub .checkbox .inner-shadow {
        display         : block;
        position        : relative;
        width           : 100%;
        height          : 100%;
        border-radius   : 2px;
        background-image: -webkit-linear-gradient(bottom, rgba(230, 230, 230,0.1),rgba(250, 250, 250,0.0));
      }
      #menu-hub .checked .checkbox .check {
        position           : absolute;
        top                : 0;
        left               : 0;
        width              : 10px;
        height             : 10px;
        background-position: -189px -96px;
      }
    /* Menu Options */
    
    #menu-hub ul.menu {
      z-index         : 1;
      position        : absolute;
      list-style      : none;
      background-image: -webkit-radial-gradient(center,rgba(255,255,255,0.0) 20%,rgba(255,255,255,0.8) 61%);
      box-shadow      : inset 0 0 8px rgba(0,0,0,0.3);
    }
    #menu-hub ul.menu > li {
      position          : absolute;
      padding           : 0 10px;
      min-width         : 50px;
      border-radius     : 15px;
      text-align        : center;
      font-size         : 12px;
      line-height       : 28px;
      color             : #797979;
      background-image  : -webkit-linear-gradient(bottom,rgba(220,220,220,0.7) 0,rgba(245,245,245,0.85) 80%);
      box-shadow        : inset 0 0 8px rgba(0,0,0,0.25) ,0 1px 3px rgba(0,0,0,0.1);
    }

    #menu-hub ul.menu.first {
      display      : none;
      z-index      : 2;
      position     : absolute;
      top          : -51px;
      left         : -51px;
      width        : 155px;
      height       : 155px;
      border-radius: 85px;
      list-style   : none;
    }

    #menu-hub.visible ul.menu.first {
      display: block;
    }

      #menu-hub.visible ul.menu.first > li:hover {
        background-image  : -webkit-linear-gradient(bottom,rgba(230,230,230,0.7) 0,rgba(255,255,255,0.85) 80%);
        box-shadow        : inset 0 0 6px rgba(0,0,0,0.4);
        -webkit-transition: all 0.2s;
      }

      #menu-hub ul.menu.first > li.file {
        top : -9px;
        left: 42px;
      }

      #menu-hub ul.menu.first > li.edit {
        top: 26px;
        left: 93px;
      }

      #menu-hub ul.menu.first > li.object {
        top: 63px;
        left: 108px;
      }

      #menu-hub ul.menu.first > li.type {
        top: 99px;
        left: 93px;
      }

      #menu-hub ul.menu.first > li.select {
        top: 134px;
        left: 42px;
      }

      #menu-hub ul.menu.first > li.effect {
        top: 99px;
        left: -9px;
      }

      #menu-hub ul.menu.first > li.view {
        top: 63px;
        left: -26px;
      }

      #menu-hub ul.menu.first > li.window {
        top: 26px;
        left: -9px;
      }

/* Sub Menu */
        
  #ai-wheel #file-menu { width: 180px; }
  #ai-wheel.right-handed #file-menu { left: -140px; }
  #ai-wheel.left-handed #file-menu { right: -140px; }
  #ai-wheel #edit-menu { width: 220px; }
  #ai-wheel #object-menu { width: 180px; }
  #ai-wheel #type-menu { width: 180px; }
  #ai-wheel #select-menu { width: 160px; }
  #ai-wheel #effect-menu { width: 160px; }
  #ai-wheel #view-menu { width: 190px; }
    #ai-wheel #type-menu #font-list .mini-menu-container { 
      margin-top: 52px;
    }
    #type-menu .nav-list {
      width: 250px;
      height: 10px;
      position: relative;
      background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.07),rgba(0,0,0,0));
    }
    #type-menu .nav-list:hover {
      background: #fff;
    }
  #type-menu .nav-list.up {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  #type-menu .nav-list.down {
    border-top: 1px solid rgba(0,0,0,0.1);
  }
    #type-menu .nav-list .icon {
      width: 10px;
      height: 10px;
      position: absolute;
      left: 122px;
    }
    #type-menu .nav-list.disabled .icon {
      opacity: 0.3;
    }
    #type-menu .nav-list.up .icon {
      top: 1px;
      background-position: -199px -86px;
    }
    #type-menu .nav-list.down .icon {
      top: -1px;
      background-position: -199px -96px;
    }
    #type-menu .search {
      position: relative;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      width: 250px;
      height: 38px;
    }
    #type-menu .icon {
      width: 22px;
      height: 22px;
      background-position: -198px -154px;
      position: absolute;
      top: 7px;
      left: 7px;
      z-index: 1;
    }
      #ai-wheel #type-menu #font-list {
        width: 230px;
      }
      #type-menu .search input {
        position          : absolute;
        width             : 228px;
        margin            : 6px 5px;
        padding           : 0 5px;
        border            : 1px solid rgba(0,0,0,0.2);
        border-radius     : 2px;
        text-indent       : 20px;
        line-height       : 24px;
        -webkit-appearance: none;
      }
      #ai-wheel #type-menu #font-list li.first {
        margin-top:0;
      }
      #ai-wheel #type-menu #font-list li.last {
        margin-bottom:0;
      }

  #ai-wheel .menu-root-child {
    -webkit-transition:all 0.3s;
  }


  #ai-wheel ul.menu-parent,
  #ai-wheel ul.menu-parent ul {
    display            : none;
    z-index            : 10;
    position           : absolute;
    list-style         : none;
    background-image   : -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.93) );
    background-image   : linear-gradient(bottom, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.93) );
    box-shadow         : 0 1px 6px rgba(0, 0, 0, 0.4);
  }
  #ai-wheel ul.visible,
  #ai-wheel ul ul.visible { display: block; }

  #ai-wheel.right-handed ul.menu-parent { padding: 0px 20px 0px 0px; }
  #ai-wheel.left-handed ul.menu-parent { padding: 0px 0px 0px 20px; }

    #ai-wheel ul .break { height: 1px; margin: 2px 0 3px; }
    #ai-wheel.left-handed ul .break { background-image: -webkit-linear-gradient(right,rgba(0,0,0,0.1) 82%,rgba(0,0,0,0.0) 100%); }
    #ai-wheel.right-handed ul .break { background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.1) 82%,rgba(0,0,0,0.0) 100%); }

    #ai-wheel ul.menu-parent li { 
      text-align: left; 
      border-radius: 0; 
      position: relative;
      text-indent: 20px;
    }
    #ai-wheel ul.menu-parent li.checkbox-container {
      text-indent: 0;
    }
    #ai-wheel.right-handed ul.menu-parent li { padding-left:10px; }
    #ai-wheel ul.menu-parent li.first { margin: 3px 0 0 0; }
    #ai-wheel ul.menu-parent li.last { margin: 0 0 3px 0; }
    #ai-wheel ul.menu-parent li.first.last,
    #ai-wheel ul.menu-parent li:only-child { margin: 3px 0 3px 0; }
        
      #ai-wheel ul li .marker {
        position: absolute;
        top     : 4px;
        width   : 2px;
        height  : 19px;
      }

      #ai-wheel.right-handed li ul li .marker { left: 4px; }
      #ai-wheel li ul li .marker { left: 2px; }
      #ai-wheel ul li.hidden .marker { display: none; }
    
      #ai-wheel ul li .disclosure {
        z-index            : 1;
        position           : absolute;
        top                : 8px;
        right              : 7px;
        width              : 10px;
        height             : 10px;
        opacity            : 0.5;
        background         : url('../img/ai_wheel.png') no-repeat;
        background-position: -189px -86px;
        -webkit-transition : all 0.2s;
      }
      #ai-wheel ul li:hover .disclosure { opacity: 1; }
    #ai-wheel ul h1 { 
      text-align : left;
      text-indent: 10px;
      font-size  : 12px;
      color      : #C9C9C9;
      font-weight: normal;
    }
  /* Mini menu */
  #ai-wheel .mini-menu-container {
    position          : absolute;
    top               : 0;
    width             : 20px;
    -webkit-transition: all 0.2s; 
  }
  #ai-wheel.right-handed .mini-menu-container { right: 0px; }
  #ai-wheel.left-handed .mini-menu-container { left: 0px; }

    #ai-wheel .mini-menu-container .miniMenu:first-child { margin-top: 12px; }
    #ai-wheel .mini-menu-container .miniMenu {
      width             : 5px;
      height            : 5px;
      margin            : 0 8px 4px 8px;
      border-radius     : 2px;
      overflow          : hidden;
      -webkit-transition: all 0.3s; 
    }
    #ai-wheel .mini-menu-container .miniMenu:hover,
    #ai-wheel .mini-menu-container .miniMenu.hover { background-image: -webkit-linear-gradient(bottom,rgba(25,156,255,1),rgba(25,156,255,1)); }
    #ai-wheel .mini-menu-container .miniMenu.hidden { height: 0; margin: 0; }

      #ai-wheel .mini-menu-container .miniMenu .innerShadow {
        width           : 100%;
        height          : 100%;
        background-image: -webkit-linear-gradient(bottom, transparent 30%, rgba(0, 0, 0, 0.2));
        box-shadow      : inset 0 0 2px rgba(0, 0, 0, 0.3);
      }
      
      /* Sub sub Menus */
        ul.menu-parent li ul {
          float: left;
          display: none;
          width: 200px;
        }

        ul.menu-parent li:hover ul {
          display: block;
        }

/* Configure Menu */
#configure-menu {
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.8),rgba(255,255,255,1));
  width: 180px;
  height: 120px;
  position: absolute;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  z-index: 3;
}
  #configure-menu p{
    color: #A2A2A2;
    font-size: 12px;
    float: left;
  }
  #configure-menu p{
    margin: 6px 10px;
  }
  #configure-menu li {
  }
  #configure-menu .color-container {
    float        : left;
    width        : 100%;
    margin       : 0 0 6px;
    padding      : 0 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* Color Box */
  #configure-menu #color-box {
    float : left;
    width : 100%;
    margin: 0 10px;
  }
    #configure-menu #color-box .container {
      float        : left;
      padding      : 3px;
      border       : 1px solid transparent;
      border-radius: 6px;
      margin: 0 2px 0 0;
    }
    #configure-menu #color-box .container:hover,
    #configure-menu #color-box .container.selected {
      border: 1px solid rgba(0, 0, 0, 0.3); 
    }
      #configure-menu #color-box .container .mark {
        float : left;
        width : 8px;
        height: 8px;
        border-radius: 4px;
        overflow: hidden;
      }
        #configure-menu #color-box .container .mark .inner-shadow {
          float           : left;
          width           : 100%;
          height          : 100%;
          background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.3));
          box-shadow      : inset 0 0 5px rgba(0, 0, 0, 0.5);
        }
  /* End Color Box */
#menu-quickpick {
  position: absolute;
  width: 495px;
  height: 314px;
  z-index: -1;
  top: 160px;
  border-radius: 50%;
  top: 95px;
}
  #menu-quickpick .left {
    left: 50px;
  }
  #menu-quickpick .right {
    right: -50px;
  }
  #menu-quickpick .container {
    position: absolute;
  }
  #menu-quickpick .left {
    left: 0px;
  }
  #menu-quickpick .right {
    right: 0;
  }
    #menu-quickpick .pick {
      position     : absolute;
      width        : 60px;
      height       : 30px;
      border-radius: 15px;
      box-shadow   : 0 1px 6px rgba(0, 0, 0, 0.3);
      opacity: 0.5;
      -webkit-transition: all 0.2s;
    }
    #menu-quickpick .pick:hover {
      z-index: 100;
      opacity: 1;
    }
    #menu-quickpick .pick.drag-into {
      background-image: -webkit-linear-gradient(bottom,rgba(115, 197, 243, 0.56),rgba(159, 230, 248, 0.56));
    }
    #menu-quickpick .left .pick                     { left: 0; }
    #menu-quickpick .right .pick                    { right: 0; }
    #menu-quickpick .left .pick:nth-child(1)        { left: 44px; }
    #menu-quickpick .left .pick:nth-child(2)        { left: 18px; }
    #menu-quickpick .left .pick:nth-child(3)        { left: 3px; }
    #menu-quickpick .left .pick:nth-child(4)        { left: -3px; }
    #menu-quickpick .left .pick:nth-child(5)        { left: -3px; }
    #menu-quickpick .left .pick:nth-child(6)        { left: 6px; }
    #menu-quickpick .left .pick:nth-child(7)        { left: 22px; }
    #menu-quickpick .left .pick:nth-child(8)        { left: 50px; }
    #menu-quickpick .right .pick:nth-child(1)       { right: 44px; }
    #menu-quickpick .right .pick:nth-child(2)       { right: 18px; }
    #menu-quickpick .right .pick:nth-child(3)       { right: 3px; }
    #menu-quickpick .right .pick:nth-child(4)       { right: -3px; }
    #menu-quickpick .right .pick:nth-child(5)       { right: -3px; }
    #menu-quickpick .right .pick:nth-child(6)       { right: 6px; }
    #menu-quickpick .right .pick:nth-child(7)       { right: 22px; }
    #menu-quickpick .right .pick:nth-child(8)       { right: 50px; }
    .pick li {
      height          : 30px;
      border-radius   : 15px;
      font-size       : 12px;
      line-height     : 30px;
      list-style      : none;
      color           : #A2A2A2;
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
      text-align: center;
    }
    #menu-quickpick .menu-parent {
      width: 190px;
      position: absolute;
    }
    #drag-clone.more,
    #menu-quickpick li.more {
      text-align: left;
      position: absolute;
      text-indent: 10px;
    }
    #menu-quickpick li.more li { text-indent: 0; }
/* Drag n Drop */
#drag-clone {
  position: absolute;
  height          : 30px;
  border-radius   : 15px;
  font-size       : 12px;
  line-height     : 30px;
  list-style      : none;
  color           : #A2A2A2;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
  z-index: 1000;
  box-shadow: 0 1px 6px rgba(0,0,0,0.4);
  text-align: center;
}
#drag-clone ul { display: none; }