body {
  font-family: Arial, Helvetica, Sans-serif;
  background: url('../illustrator-background.png') no-repeat;
}
* {
  margin : 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}
.sprite {
  background: url('../img/ai-sprite-01.png') no-repeat;
}
.wheel-sprite,
.icon-container .more-tools .arrow {
  background: url('../img/ai_wheel.png') no-repeat;
}

/* >>>>>>>>>>>>>>>>>>>>> Wheel <<<<<<<<<<<<<<<<<<<<<< */
#ai-wheel {
  position: absolute;
  top     : 200px;
  left    : 335px;
  width   : 380px;
  height  : 400px;
}

#main-wheel {
  position        : absolute;
  top             : 54px;
  width           : 380px;
  height          : 380px;
  border-radius   : 190px;
  background-image: -webkit-radial-gradient(center,rgba(255,255,255,0.6) 0,rgba(255,255,255,0.85) 80%);
  background-image: -moz-radial-gradient(center,rgba(255,255,255,0.6) 0,rgba(255,255,255,0.85) 80%);
  box-shadow      : 0 1px 6px rgba(0,0,0,0.33);
}
  #main-wheel .inner-shadow {
    width           :380px;
    height          :380px;
    border-radius   : 190px;
    position        : relative;
  }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Outter Ring                 */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */

#outter-ring {
  width              :380px;
  height             :380px;
  background-position: 0 -255px;
  position           : absolute;
}
#outter-ring:hover {
  opacity: 1;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Tool Icons                  */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */

.icon-container {
  position     : absolute;
  width        : 22px;
  height       : 22px;
  padding      : 1px 4px;
  border       : 1px solid transparent;
  border-radius: 2px;
  float        : left;
}
.icon-container:hover,
.icon-container.selected {
  border          :1px solid rgba(0,0,0,0.3);
  background-image: -webkit-radial-gradient(center,rgba(255,255,255,0),rgba(255,255,255,0.5));
  background-image: -moz-radial-gradient(center,rgba(255,255,255,0),rgba(255,255,255,0.5));
}
  .icon-container .icon {
    width             : 22px;
    height            : 22px;
    -webkit-transition:all 0.08s;
    -moz-transition   :all 0.08s;
  }
  .icon-container:hover > .icon,
  .more-tools .icon:hover{
    -webkit-transform: scale(1.38);
    -moz-transform   : scale(1.38);
  }
  .icon-container.selected > .icon {
    opacity: 0.6;
  }

/* More tools */

.icon-container .more-tools {
  z-index : 1;
  float   : right;
  position: relative;
  width   : 4px;
  height  : 4px;
  top     : -5px;
  right   : -2px;
}
  
  .icon-container .more-tools .arrow {
    float              : right;
    position           : relative;
    top                : 1px;
    right              : -1px;
    width              : 10px;
    height             : 10px;
    background-position: -189px -76px;
  }
  /* WEBKIT */
  @-webkit-keyframes pop {
    0% {
      -webkit-transform: scale(0.2);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  @-webkit-keyframes pop-out {
    0% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0);
    }
  }
  /* MOZ */
  @-moz-keyframes pop {
    0% {
      -moz-transform: scale(0.2);
    }
    100% {
      -moz-transform: scale(1);
    }
  }
  @-moz-keyframes pop-out {
    0% {
      -moz-transform: scale(1);
    }
    100% {
      -moz-transform: scale(0);
    }
  }
  .icon-container .more-tools .more-ring {
    display         : none;
    position        : relative;
    background-image: -webkit-radial-gradient(center,rgba(255,255,255,0.88) 60%,rgba(220,220,220,0.9) 68%,rgba(255,255,255,0.9) 72%);
    background-image: -moz-radial-gradient(center,rgba(255,255,255,0.88) 60%,rgba(220,220,220,0.9) 68%,rgba(255,255,255,0.9) 72%);
    box-shadow      : 0 1px 4px rgba(0,0,0,0.5);
  }
  .icon-container.show-tools .more-tools .more-ring {
    display          : block;
    -webkit-animation:pop 0.15s;
    -moz-animation   :pop 0.15s;
  }
  .icon-container.hide-tools .more-tools .more-ring {
    -webkit-animation:pop-out 0.15s;
    -moz-animation   :pop-out 0.15s;
    -webkit-transform:scale(0);
    -moz-transform   :scale(0);
  }

    .icon-container .more-tools .more-ring .icon {
      position: absolute;
    }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Second Ring                 */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */

#secondRing {
  width           :171px;
  height          :171px;
  position        : absolute;
  border-radius   : 136px;
  background-image: -webkit-radial-gradient(center, rgba(0, 0, 0, 0.0) 69%, rgba(0, 0, 0, 0.1) 71% );
  background-image: -moz-radial-gradient(center, rgba(0, 0, 0, 0.0) 69%, rgba(0, 0, 0, 0.1) 71% );
}

#secondRing:hover {
  opacity: 1;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/*            Spinner        */
/* >>>>>>>>>>>>>>>>>>>>>>>>> */
.spinner {
  position  : absolute;
  width     : 91px;
  height    : 93px;
  background: url('../img/ai_spinner.png');
  -webkit-transform: scale(0);
  -webkit-transition: all 0.1s;
}
.spinner.visible {
  -webkit-transform: scale(1);
}
  .spinner .handle {
    position          : absolute;
    top               : 0;
    left              : 43px;
    width             : 5px;
    height            : 5px;
    border-radius     : 3px;
    background-image  : -webkit-radial-gradient(center,rgba(25,156,255,1) 30%,rgba(25,156,255,1) 60%);
    -webkit-transition: all 0.1s;
    cursor            : pointer;
  }
  .spinner .handle:hover {
    top             : -5px;
    left            : 38px;
    width           : 15px;
    height          : 15px;
    border-radius   : 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-image: 
      -webkit-radial-gradient(
        center,
        rgba(255,255,255,1) 10%,
        rgba(210,210,210,1) 45%,
        rgba(255,255,255,1) 55%,
        rgba(240,240,240,1) 70%
      );
  }
  .spinner .handle:hover .gradient{
    width           : 15px;
    height          : 15px;
    border-radius   : 8px;
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.15) 0,rgba(0,0,0,0) 80%);
  }
  .spinner .value {
    position  : absolute;
    top       : 40px;
    width     : 100%;
    text-align: center;
    font-size : 11px;
    color     : #A2A2A2;
  }
  .spinner.edit .value {
    display: none;
  }
  .spinner input {
    display         : none;
    position        : absolute;
    top             : 35px;
    left            : 30px;
    width           : 32px;
    padding         : 0;
    border          : none;
    border-radius   : 7px;
    text-align      : center;
    font-size       : 11px;
    line-height     : 21px;
    color           : #199CFF;
    background-image: -webkit-linear-gradient(bottom,rgba(255,255,255,1) 80%,rgba(230,230,230,1) );
    box-shadow      : inset 0 0 6px rgba(0,0,0,0.3);
  }
  .spinner.edit input {
    display: block;
  }
  /* ----- Various Spinner Button and Icon Spawns ------ */
  .zoom.spinner {
    top : 194px;
    left: 307px;
  }