body {
  font-family: Arial, Helvetica, Sans-serif;
  background: url('../illustrator-background.png') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
* {
  margin             : 0;
  padding            : 0;
  -webkit-user-select: none;
  -moz-user-select   : none;
  user-select        : none;
  -ms-user-select    : none;
}
.top { z-index: 1000; }
.sprite {
  background: url('../img/ai-sprite-01.png') no-repeat;
}
.wheel-sprite,
.arrow,
.disclosure,
.nav-list .icon,
.checked .checkbox .check {
  background: url('../img/ai_wheel.png') no-repeat;
}
.arrow {
  width              : 14px;
  height             : 12px;
  background-position: -135px -60px;
  opacity            : 0.4;
  -webkit-transition : all 0.2s;
}
.arrow:hover {
  opacity            : 0.8;
}
.disclosure {
  display            : inline-block;
  position           : absolute;
  top                : 10px;
  right              : 10px;
  width              : 10px;
  height             : 10px;
  background-position: -189px -86px;
}

/* >>>>>>>>>>>>>>>>>>>>> Wheel <<<<<<<<<<<<<<<<<<<<<< */
#ai-wheel {
  position: absolute;
  top     : 200px;
  left    : 335px;
  width   : 380px;
  height  : 400px;
}

#main-wheel {
  position        : absolute;
  top             : 54px;
  width           : 380px;
  height          : 380px;
  border-radius   : 190px;
  box-shadow      : 0 1px 6px rgba(0,0,0,0.33);
  -webkit-transition: all 0.2s;
  -webkit-transition: opacity 0.5s;
}
  #main-wheel .inner-shadow {
    width           :380px;
    height          :380px;
    border-radius   : 190px;
    position        : relative;
  }
  #main-wheel .background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
  }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Outter Ring                 */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */

#outter-ring {
  width              :380px;
  height             :380px;
  background-position: 0 -255px;
  position           : absolute;
}
#outter-ring:hover {
  opacity: 1;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Tool Icons                  */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */

.icon-container {
  position     : absolute;
  width        : 22px;
  height       : 22px;
  padding      : 1px 4px;
  float        : left;
}
#secondRing .icon-container,
#outter-ring .icon-container {
  -webkit-transition: all 0.3s;
}
  .icon-container .icon {
    width             : 22px;
    height            : 22px;
    -webkit-transition:all 0.15s;
    -moz-transition   :all 0.15s;
  }
  .icon-container:hover > .icon,
  .more-tools .icon:hover{
    -webkit-transform: scale(1.4);
    -moz-transform   : scale(1.4);
  }
  .icon-container.selected > .icon {
    opacity: 0.6;
  }

/* More tools */

.icon-container .more-tools {
  z-index : 1;
  float   : right;
  position: relative;
  width   : 4px;
  height  : 4px;
  top     : -5px;
  right   : -2px;
}
  
  .icon-container .more-tools .arrow {
    float   : right;
    position: relative;
    top     : -1px;
    right   : 7px;
  }

  .icon-container .more-tools .more-ring {
    position          : relative;
    box-shadow        : 0 1px 4px rgba(0,0,0,0.5);
    -webkit-transition: all 0.18s;
    -webkit-transform : scale(0) rotate(90deg);
  }

  .icon-container .more-tools .more-ring.visible {
    -webkit-transform: scale(1) rotate(0deg);
  }

    .icon-container .more-tools .more-ring .icon {
      position: absolute;
    }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Second Ring                 */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>> */

#secondRing {
  width           :171px;
  height          :171px;
  position        : absolute;
  border-radius   : 136px;
  background-image: -webkit-radial-gradient(center, rgba(0, 0, 0, 0.0) 69%, rgba(0, 0, 0, 0.1) 71% );
  background-image: -moz-radial-gradient(center, rgba(0, 0, 0, 0.0) 69%, rgba(0, 0, 0, 0.1) 71% );
}

#secondRing:hover {
  opacity: 1;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/*            Spinner        */
/* >>>>>>>>>>>>>>>>>>>>>>>>> */
.spinner {
  position  : absolute;
  width     : 91px;
  height    : 93px;
  -webkit-transform: scale(0);
  -webkit-transition: all 0.1s;
}
.spinner.visible {
  -webkit-transform: scale(1);
}
  .spinner .handle {
    position          : absolute;
    top               : 0;
    left              : 43px;
    width             : 5px;
    height            : 5px;
    border-radius     : 3px;
    background-image  : -webkit-radial-gradient(center,rgba(25,156,255,1) 30%,rgba(25,156,255,1) 60%);
    -webkit-transition: all 0.1s;
    cursor            : pointer;
  }
  .spinner .handle:hover {
    top             : -5px;
    left            : 38px;
    width           : 15px;
    height          : 15px;
    border-radius   : 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-image: 
      -webkit-radial-gradient(
        center,
        rgba(255,255,255,1) 10%,
        rgba(210,210,210,1) 45%,
        rgba(255,255,255,1) 55%,
        rgba(240,240,240,1) 70%
      );
  }
  .spinner .handle:hover .gradient{
    width           : 15px;
    height          : 15px;
    border-radius   : 8px;
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.15) 0,rgba(0,0,0,0) 80%);
  }
  .spinner .value {
    position  : absolute;
    top       : 40px;
    width     : 100%;
    text-align: center;
    font-size : 11px;
    color     : #A2A2A2;
  }
  .spinner.edit .value {
    display: none;
  }
  .spinner input {
    display         : none;
    position        : absolute;
    top             : 35px;
    left            : 30px;
    width           : 32px;
    padding         : 0;
    border          : none;
    border-radius   : 7px;
    text-align      : center;
    font-size       : 11px;
    line-height     : 21px;
    color           : #199CFF;
    background-image: -webkit-linear-gradient(bottom,rgba(255,255,255,1) 80%,rgba(230,230,230,1) );
    box-shadow      : inset 0 0 6px rgba(0,0,0,0.3);
  }
  .spinner.edit input {
    display: block;
  }
  /* ----- Various Spinner Button and Icon Spawns ------ */
  .zoom.spinner {
    top : 194px;
    left: 307px;
  }