<ul id="file-menu" class="menu-root-child">
  <div class="container">
    <li><span class="marker orange"></span>New...</li>
    <li><span class="marker yellow"></span>New From Template...</li>
    <li>
      <span class="marker yellow"></span>
      Open...
    <li>
      <span class="marker sky"></span>
      Open Recent Files...
      <ul>
        <li>1 ai-icons.ai</li>
        <li>2 ai-icons.ai</li>
      </ul>
    </li>
    <li><span class="marker yellow"></span>Browse In Bridge...</li>
    <div class="break"></div>
    <li><span class="marker grey"></span>Close</li>
    <li><span class="marker"></span>Save</li>
    <li><span class="marker"></span>Save As...</li>
    <li><span class="marker"></span>Save a Copy...</li>
    <li><span class="marker"></span>Save as Template...</li>
    <li><span class="marker"></span>Save for Web...</li>
    <li><span class="marker"></span>Save Selected Slices...</li>
    <div class="break"></div>
    <li><span class="marker"></span>Save for Microsoft Office...</li>
    <li><span class="marker orange"></span>Export...</li>
    <div class="break"></div>
    <li>
      <span class="marker"></span>Scripts
      <ul>
        <li>ExportDocsAsFlash</li>
        <li>Flex Skins</li>
        <li>ImageTracing</li>
        <li>SaveDocsAsPDF</li>
        <li>SaveDocsAsSVG</li>
        <div class="break"></div>
        <li>Other Scripts...</li>
      </ul>
    </li>
    <div class="break"></div>
    <li><span class="marker"></span>Document Setup...</li>
    <li><span class="marker green"></span>
      Document Color Mode
      <ul>
        <li><span class="check"></span>CMYK Color</li>
        <li><span class="check on"></span>RGB Color</li>
      </ul>
    </li>
    <li><span class="marker"></span>File Info...</li>
    <div class="break"></div>
    <li><span class="marker"></span>Print...</li>
    <div class="break"></div>
    <li><span class="marker poupre"></span>Exit</li>
  </div>
</ul>

<ul id="edit-menu" class="menu-root-child">
  <div class="container">
    <li><span class="marker"></span>Undo Move</li>
    <li><span class="marker"></span>Redo</li>
    <div class="break"></div>
    <li><span class="marker"></span>Cut</li>
    <li><span class="marker"></span>Copy</li>
    <li><span class="marker"></span>Paste</li>
    <li><span class="marker"></span>Paste in Front</li>
    <li><span class="marker"></span>Paste in Back</li>
    <li><span class="marker"></span>Paste in Place</li>
    <li><span class="marker"></span>Paste on All Artboards</li>
    <li><span class="marker"></span>Clear</li>
    <div class="break"></div>
    <li><span class="marker"></span>Find and Replace...</li>
    <li><span class="marker"></span>Find Next</li>
    <li><span class="marker"></span>Check Spelling...</li>
    <li><span class="marker"></span>Edit Custom Disctionary...</li>
    <div class="break"></div>
    <li>
      <span class="marker"></span>Edit Colors
      <ul>
        <li>Recolor Artwork</li>
      </ul>
    </li>
    <div class="break"></div>
    <li><span class="marker"></span>Edit Original</li>
    <div class="break"></div>
    <li><span class="marker"></span>Transparency FLattener Presets...</li>
    <li><span class="marker"></span>Print Presets...</li>
    <li><span class="marker"></span>SWF Presets...</li>
    <li><span class="marker"></span>Perspective Grid Presets...</li>
    <div class="break"></div>
    <li><span class="marker"></span>Color Settings...</li>
    <li><span class="marker"></span>Assign Profile...</li>
    <div class="break"></div>
    <li><span class="marker"></span>Keyboard Shortcuts...</li>
    <li><span class="marker"></span>Preferences</li>
  </div>
</ul>

<div id="configure-menu" class="menu">
 <div class="color-container">
  <p>Mark</p>
  <div id="color-box">
    <div class="container">
      <div class="mark color none"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color purple"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color orange"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color green"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color red"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color grey"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color sky"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color yellow"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color poupre"><div class="inner-shadow"></div></div>
    </div>
  </div>
 </div>
 <ul>
   <li id="hide-entry">Hide Entry</li>
   <li id="show-hidden">Show Hidden Entries (8)</li>
 </ul>
</div>