<ul id="file-menu" class="menu-root-child">
  <li><span class="marker orange"></span>New...</li>
  <li><span class="marker yellow"></span>New From Template...</li>
  <li>
    <span class="marker yellow"></span>
    Open...
  <li>
    <span class="marker sky"></span>
    Open Recent Files...
    <ul>
      <li>1 ai-icons.ai</li>
      <li>2 ai-icons.ai</li>
    </ul>
  </li>
  <li><span class="marker yellow"></span>Browse In Bridge...</li>
  <div class="break"></div>
  <li><span class="marker grey"></span>Close</li>
  <li>Save</li>
  <li>Save As...</li>
  <li>Save a Copy...</li>
  <li>Save as Template...</li>
  <li>Save for Web...</li>
  <li>Save Selected Slices...</li>
  <div class="break"></div>
  <li>Save for Microsoft Office...</li>
  <li><span class="marker orange"></span>Export...</li>
  <div class="break"></div>
  <li>
    <span class="marker"></span>Scripts
    <ul>
      <li>ExportDocsAsFlash</li>
      <li>Flex Skins</li>
      <li>ImageTracing</li>
      <li>SaveDocsAsPDF</li>
      <li>SaveDocsAsSVG</li>
      <div class="break"></div>
      <li>Other Scripts...</li>
    </ul>
  </li>
  <div class="break"></div>
  <li>Document Setup...</li>
  <li><span class="marker green"></span>
    Document Color Mode
    <ul>
      <li><span class="check"></span>CMYK Color</li>
      <li><span class="check on"></span>RGB Color</li>
    </ul>
  </li>
  <li><span class="marker"></span>File Info...</li>
  <div class="break"></div>
  <li><span class="marker"></span>Print...</li>
  <div class="break"></div>
  <li><span class="marker poupre"></span>Exit</li>
</ul>

<ul id="edit-menu" class="menu-root-child">
  <li>Undo Move</li>
  <li>Redo</li>
  <div class="break"></div>
  <li>Cut</li>
  <li>Copy</li>
  <li>Paste</li>
  <li>Paste in Front</li>
  <li>Paste in Back</li>
  <li>Paste in Place</li>
  <li>Paste on All Artboards</li>
  <li>Clear</li>
  <div class="break"></div>
  <li>Find and Replace...</li>
  <li>Find Next</li>
  <li>Check Spelling...</li>
  <li>Edit Custom Disctionary...</li>
  <div class="break"></div>
  <li>
    Edit Colors
    <ul>
      <li>Recolor Artwork</li>
      <li>Recolor with Preset
        <ul>
          <li>Color library...</li>
          <li>1 color job...</li>
          <li>2 color job...</li>
          <li>3 color job...</li>
          <li>Color Harmony</li>
        </ul>
      </li>
      <div class="break"></div>
      <li>Adjust Color Balance...</li>
      <li>Blend Front to Back</li>
      <li>Blend Horizontally</li>
      <li>Blend Vertically</li>
      <li>Convert to CMYK</li>
      <li>Convert to Grayscale</li>
      <li>Convert to RGB</li>
      <li>Invert Colors</li>
      <li>Overprint Black...</li>
      <li>Saturate...</li>
    </ul>
  </li>
  <div class="break"></div>
  <li>Edit Original</li>
  <div class="break"></div>
  <li>Transparency Flattener Presets...</li>
  <li>Print Presets...</li>
  <li>SWF Presets...</li>
  <li>Perspective Grid Presets...</li>
  <div class="break"></div>
  <li>Color Settings...</li>
  <li>Assign Profile...</li>
  <div class="break"></div>
  <li>Keyboard Shortcuts...</li>
  <li>Preferences</li>
</ul>
<ul id="object-menu" class="menu-root-child">
  <li>Transform
    <ul>
      <li>Transform Again</li>
      <div class="break"></div>
      <li>Move...</li>
      <li>Rotate...</li>
      <li>Reflect...</li>
      <li>Scale...</li>
      <li>Shear...</li>
      <div class="break"></div>
      <li>Transform Each...</li>
      <div class="break"></div>
      <li>Reset Bounding Box</li>
    </ul>
  </li>
  <li>Arrange
    <ul>
      <li>Bring to Front</li>
      <li>Bring Forward</li>
      <li>Send Backward</li>
      <li>Send to Back</li>
      <div class="break"></div>
      <li>Send to Current Layer</li>
    </ul>
  </li>
  <div class="break"></div>
  <li>Group</li>
  <li>Ungroup</li>
  <li>Lock
    <ul>
      <li>Selection</li>
      <li>All Artwork Above</li>
      <li>Other Layers</li>
    </ul>
  </li>
  <li>Unlock All</li>
  <li>Hide
    <ul>
      <li>Selection</li>
      <li>All Artwork Above</li>
      <li>Other Layers</li>
    </ul>
  </li>
  <li>Show All</li>
  <div class="break"></div>
  <li>Expand...</li>
  <li>Expand Apprearance</li>
  <li>Rasterize...</li>
  <li>Create Gradient Mesh...</li>
  <li>Create Object Mosaic...</li>
  <li>Flatten Transparency...</li>
  <div class="break"></div>
  <li>Slice
    <ul>
      <li>Make</li>
      <li>Release</li>
      <div class="break"></div>
      <li>Create from Guides</li>
      <li>Create from Selection</li>
      <div class="break"></div>
      <li>Duplicate Slice</li>
      <li>Combine Slice</li>
      <li>Divide Slice...</li>
      <li>Delete All</li>
      <div class="break"></div>
      <li>Slice Options...</li>
      <div class="break"></div>
      <li><span class="checkbox"><span class="inner-shadow"></span></span>Clip to Artboard</li>
    </ul>
  </li>
  <li><span class="marker"></span>Create Trim Marks</li>
  <div class="break"></div>
  <li><span class="marker"></span>Path
    <ul>
      <li>Join</li>
      <li>Average...</li>
      <div class="break"></div>
      <li>Outline Stroke</li>
      <li>Offset Path...</li>
      <div class="break"></div>
      <li>Simplify...</li>
      <li>Add Anchor Points</li>
      <li>Remove Anchor Points</li>
      <li>Divide Objects Below</li>
      <div class="break"></div>
      <li>Split Into Grid...</li>
      <div class="break"></div>
      <li>Clean Up...</li>
    </ul>
  </li>
  <li>Pattern</li>
  <li>Blend</li>
  <li>Envelope Distort</li>
  <li>Perspective</li>
  <li>Live Paint</li>
  <li>Image Trace</li>
  <li>Text Wrap</li>
  <div class="break"></div>
  <li>Clipping Mask</li>
  <li>Compound Path</li>
  <li>Artboards</li>
  <li>Graphs</li>
</ul>
<div id="configure-menu" class="menu">
 <div class="color-container">
  <p>Mark</p>
  <div id="color-box">
    <div class="container">
      <div class="mark color none"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color purple"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color orange"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color green"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color red"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color grey"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color sky"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color yellow"><div class="inner-shadow"></div></div>
    </div>
    <div class="container">
      <div class="mark color poupre"><div class="inner-shadow"></div></div>
    </div>
  </div>
 </div>
 <ul>
   <li id="hide-entry">Hide Entry</li>
   <li id="show-hidden">Show Hidden Entries (8)</li>
 </ul>
</div>